.quote-card {
    text-align: left;
}

.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexrow img {
    height: 75px;
}

.team-image {
    height: 270px;
    background-size: cover;
    background-position: top;
    filter: grayscale(100%);
}

.footer.style-1 {
    padding: 50px 0 40px 0;
}

.cellimage {
    height: 500px;
    width: auto !important;
    margin: 0 auto;
}

.codes, .codes li {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    list-style-type: disc;
    list-style-position: inside;
}